<form action='/' method='POST'>
  <h2>
    Dollup of Genius:
  </h2>
  Give it a name:<br/>
  <input type='text' name='idea[title]'/><br/>
  Give it some umph:<br/>
  <textarea name='idea[description]'></textarea><br/>
  Tag it: <input type='text' name='idea[tags]'><br/>
  <input type='submit' value='Create Brilliance'/></br>
</form>

  </br>
  </br>

  <h3>Your brilliant ideas in brief:</h3>
  <ul>
    <% ideas.each do |idea| %>
      <li>
        <h3><%= idea.title %>:</h3>
        <%= idea.description %>
      </li>
    <% end %>
  </ul>

  <a href="/existing">All of Your Brilliant Ideas</a>
