<html>
  <head>
    <title>IdeaBox</title>
    <style>
      body {
        background: #CCFF11;
        font-family: "Courier New", Courier, monospace
      }
    </style>
  </head>
  <body>
    <h1><center>A Box of Brilliant Ideas</center></h1>
    <center>
      <a href="/">IdeaBox</a>
    </center>
    <%= yield %>
  </body>
</html>
